{% extends "default.html" %}
{% load static %}

{% block head %}
<link href={% static "ddos/css/ddos.css" %} rel="stylesheet">
{% endblock %}

{% block title %} СЫЧ / Результат анализа{% endblock %}

{% block content %}
    {% if packets %}
        <div style="overflow-x:auto;">
            <!--<table class = "table table-responsive">-->
            <table>
                <tr>
                    <th>Timestamp</th>
                    <th>Source IP</th>
                    <th>Source port</th>
                    <th>Destination IP</th>
                    <th>Destination port</th>
                    <th>ServerDescription</th>
                    <th>HTTP Method</th>
                    <th>Request URI</th>
                    <th>Hostname</th>
                    <th>Useragent</th>
                    <th>Referer</th>
                    <th>UserContentType</th>
                    <th>Content length</th>
                    <th>Server Response</th>
                    <th>ServerContentType</th>
                </tr>

                {% for packet in packets %}
                    <tr>
                        <td>
                            <div style="width: 175px;">{{ packet.timestamp }}</div>
                        </td>
                        <td>{{ packet.sourceIP }}</td>
                        <td>{{ packet.sourcePort }}</td>
                        <td>{{ packet.destinationIP }}</td>
                        <td>{{ packet.destinationPort }}</td>
                        <td>{{ packet.serverDescription }}</td>
                        <td>{{ packet.HTTPMethod }}</td>
                        <td>{{ packet.requestURI }}</td>
                        <td>{{ packet.hostname }}</td>
                        <td>
                            <div style="width: 500px;">{{ packet.userAgent }}</div>
                        </td>
                        <td>{{ packet.referer }}</td>
                        <td>{{ packet.userContentType }}</td>
                        <td>{{ packet.contentLength }}</td>
                        <td>{{ packet.serverResponse }}</td>
                        <td>{{ packet.serverContentType }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>No packets for that dump.</p>
    {% endif %}

{% endblock %}